Repository AlexWayfer/formalism: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Add links for Cirrus and Depfu badges, fix link to LICENSE
  README.md
Due: remark

Update to a new gem template
  .rubocop.yml
  .toys.rb
  formalism.gemspec
Due: rubocop, rspec

Fix `included` in child forms
  formalism.gemspec
  lib/formalism/form/fields.rb
Due: rubocop, rspec

Fix small typo in a code comment
  lib/formalism/form/fields.rb
Due: rubocop, rspec

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, rspec

Update dependencies, resolve new RuboCop offenses
  formalism.gemspec
  lib/formalism/form.rb
Due: rubocop, rspec

Lock Ruby version better
  formalism.gemspec
Due: rubocop, rspec

Update version to 0.2.0
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Make `Form::Outcome` constant public
  lib/formalism/form/outcome.rb
Due: rubocop, rspec

Update version to 0.2.1
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Remove extra `include :exec` in `subtool_apply`
  .toys.rb
Due: rubocop

Support `BigDecimal` for `Float` coercion
  lib/formalism/form/coercion/float.rb
  spec/formalism/form/coercion_spec.rb
Due: rubocop, rspec

Add `BigDecimal` coercion
  lib/formalism/form/coercion/_numeric.rb
  lib/formalism/form/coercion/bigdecimal.rb
  spec/formalism/form/coercion_spec.rb
Due: rubocop, rspec

Update version to 0.3.0
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Fix `Float` coercion to `BigDecimal`
  lib/formalism/form/coercion/bigdecimal.rb
  spec/formalism/form/coercion_spec.rb
Due: rubocop, rspec

Fix Cirrus CI config file name in itself
  .cirrus.yaml
Due: none

Update version to 0.3.1
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Remove patch-version lock for stable `rubocop`
  formalism.gemspec
Due: rubocop, rspec

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  formalism.gemspec
Due: rubocop, rspec

Resolve new RuboCop offenses
  spec/formalism/form/coercion_spec.rb
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Update `remark` to new major version
  .editorconfig
  .remarkrc.yaml
  package.json
Due: remark

Allow Ruby 3 in gem specs
  formalism.gemspec
Due: rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Resolve new RuboCop offense
  lib/formalism/form/coercion/boolean.rb
Due: rubocop, rspec

Avoid Ruby 4 in gem specs
  formalism.gemspec
Due: rubocop, rspec

Update `gem_toys` to a fixed version
  formalism.gemspec
Due: rubocop, rspec

Update version to 0.4.0
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Update `remark-gfm` to a new major version
  package.json
Due: remark

Lock RuboCop version better
  formalism.gemspec
Due: rubocop, rspec

Resolve new offense from RuboCop
  lib/formalism/form/fields.rb
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, *.gemspec, .rubocop.yml, **.rb, **.ru
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, *.gemspec, .rspec, lib/**, spec/**
