Repository AlexWayfer/formalism: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rubocop.yml',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[ee9c28ba3e11236da30417cd94307ad22671e1db65b53b4e9c3c6c2cf63049b92f18641832cf18d5fd250f0c4a8c768d]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '*.gemspec', '.rspec',
      'lib/**', 'spec/**'
    )

Resolve new RuboCop offenses
  lib/formalism/form/coercion/_base.rb
  lib/formalism/form/filling.rb
Due: rubocop, rspec

Switch Codecov from Ruby uploader to a new one
  .cirrus.yaml
  formalism.gemspec
  spec/spec_helper.rb
Due: rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  formalism.gemspec
Due: rubocop, rspec

Resolve new RuboCop offenses
  lib/formalism/form/coercion/_base.rb
Due: rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  formalism.gemspec
Due: rubocop, rspec

Require `bundle-audit` CI task as requirement for tests
  .cirrus.yaml
Due: none

Enable `rubygems_mfa_required`
  formalism.gemspec
Due: rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  CHANGELOG.md
  README.md
  formalism.gemspec
Due: remark, rubocop, rspec

Resolve new RuboCop offense
  lib/formalism/form/fields.rb
Due: rubocop, rspec

Update metadata in gemspec
  formalism.gemspec
Due: rubocop, rspec

Fix new RuboCop offenses
  spec/formalism/form/coercion_spec.rb
Due: rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Resolve Ruby warnings about 3.2 changes
  spec/formalism/form/fields_spec.rb
Due: rubocop, rspec

Increase tests coverage to 100%
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Enable RSpec `--only-fail` feature
  .gitignore
  spec/spec_helper.rb
Due: remark, rubocop, rspec

Add `console` toy
  .toys.rb
Due: rubocop

Add coercion to `Object`
  lib/formalism/form/coercion/_base.rb
  lib/formalism/form/coercion/object.rb
  spec/formalism/form/coercion_spec.rb
Due: rubocop, rspec

Add coercion to `Class`
  lib/formalism/form/coercion/class.rb
  spec/formalism/form/coercion_spec.rb
Due: rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Allow `gorilla_patch` version 5
  formalism.gemspec
Due: rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: none

Update version to 0.5.1
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: none

Resolve new RuboCop offense
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Improve EditorConfig for Markdown files
  .editorconfig
Due: none

Add "Plugins" section into README
  README.md
Due: remark

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  formalism.gemspec
Due: rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  formalism.gemspec
Due: rubocop, rspec

Suppress RuboCop offense about `nil` from `valid?`
  lib/formalism/form.rb
Due: rubocop, rspec
