Repository AlexWayfer/formalism: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Update Toys dependencies
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offenses about `super`
  lib/formalism/form/coercion.rb
  lib/formalism/form/validation_error.rb
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: none

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  formalism.gemspec
Due: rubocop, rspec

Lock `rubocop-performance` version more strict
  Gemfile
Due: rubocop, rspec

Resolve new RuboCop offense
  lib/formalism/form/coercion/_numeric.rb
Due: rubocop, rspec

Fix specs for new NoMethodError message from Ruby 3.3
  spec/formalism/action_spec.rb
Due: rubocop, rspec

Resolve new RuboCop Performance offenses
  lib/formalism/form/fields.rb
  lib/formalism/form/filling.rb
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Resolve new RuboCop RSpec offenses
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Lock RuboCop RSpec version more strict
  Gemfile
Due: rubocop, rspec

Add `bigdecimal` gem dependency
  Gemfile
Due: rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Configure `remark-lint-list-item-indent` after `remark-preset-lint-recommended` update
  .remarkrc.yaml
Due: remark

Fix Remark occasional offense in Changelog
  CHANGELOG.md
Due: remark

Fix error when inherited field has been removed and redefined
  lib/formalism/form/fields.rb
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: none

Lock Ruby version more strict
  formalism.gemspec
Due: rubocop, rspec

Fix specs for Ruby 3.4
  spec/formalism/action_spec.rb
Due: rubocop, rspec

Update version to 0.6.0
  CHANGELOG.md
  lib/formalism/version.rb
Due: remark, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
Due: rubocop

Suppress RuboCop offense about predicate method in Boolean coercing
  lib/formalism/form/coercion/boolean.rb
Due: rubocop, rspec

Resolve new RuboCop offense about Symbol Proc
  README.md
  spec/formalism/form_spec.rb
Due: remark, rubocop, rspec

Resolve new RuboCop offenses about `it_behaves_like`
  spec/formalism/action_spec.rb
  spec/formalism/form_spec.rb
Due: rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  formalism.gemspec
Due: rubocop, rspec

Resolve new RuboCop offenses
  lib/formalism/action.rb
Due: rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  formalism.gemspec
Due: rubocop, rspec

Update runtime dependencies
  formalism.gemspec
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, *.gemspec, .rubocop.yml, **.rb, **.ru
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, *.gemspec, .rspec, lib/**, spec/**
